/* Type selectors */
body {
  font-family: 'Quicksand',
    sans-serif;
}

section, .hero-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Azeret Mono', monospace;
}

h2, h3 {
 font-family: 'Azeret Mono', monospace;
}

/* Navbar*/
.navbar {
  padding: 2rem;
}

/* Hero */
.hero {
  background-image: url('https://res.cloudinary.com/alexander-reyes/image/upload/v1697594064/keyboard-store/k-hero_mcvdgl.jpg');
  background-size: cover;
  min-height: 650px;
  text-align: center;
}

/* Choose */
.choose {
  padding: 20px;
}

.choose .wrapper {
  max-width: 600px;
  text-align: center;
  padding: 20px;
}

.card {
  transition: all 0.2s ease-in;
}

.card .card-body:hover {
  color: white;
  background-color: #0d6efd;

}

/* Responsive */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}