/* Type selectors */
body {
  font-family: 'Quicksand',
    sans-serif;
}

section, .hero-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Azeret Mono', monospace;
}

h2, h3 {
 font-family: 'Azeret Mono', monospace;
}

/* Navbar*/
.navbar {
  padding: 2rem;
}

/* Hero */
.hero {
  background-image: url('https://res.cloudinary.com/alexander-reyes/image/upload/v1697594064/keyboard-store/k-hero_mcvdgl.jpg');
  background-size: cover;
  min-height: 650px;
  text-align: center;
}

/* Choose */
.choose .wrapper {
  max-width: 600px;
  text-align: center;
  padding: 20px;
}

.card {
  transition: all 0.2s ease-in;
}

.card .card-body:hover {
  color: white;
  background-color: #0d6efd;

}

/* Gallery */

.gallery {
  padding: 40px;
}

.gallery img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.gallery-container {
  padding-top: 10px;
  margin-bottom: 40px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  text-align: center;
  transition: all 0.2s ease;
  transform: translate( -50%, -50%);
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.keyboard {
  position: relative;
}

.keyboard:hover img {
  opacity: 0.2;
}

.keyboard:hover .overlay {
  opacity: 1;
}

.overlay i {
  margin: 10px;
  font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 36px;
  }
}